@font-face{
    font-family: "Shaky";
    src: url("assets/fonts/Shaky Hand Some Comic.otf") format("opentype");
}

@font-face{
    font-family: "Westfalia";
    src: url("assets/fonts/Westfalia-Regular.otf") format("opentype");
}

@font-face{
    font-family: "Odachi";
    src: url("assets/fonts/Odachi.otf") format("opentype");
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Shaky", sans-serif;
    letter-spacing: 2px;
    background: linear-gradient(40deg, antiquewhite, #f7dbbc);
}


header{
    text-align: center;
    margin-top: 18%;
    padding-top: 1%;
    padding-bottom: 1%;
}

h1{
    font-size: 100px;
    text-align: center;
    font-family: "shaky", sans-serif;
    font-weight: 1000;
    text-shadow: 2px 3px #4f4f4f;
    color: white;
}



.fixed-bottom{
    text-align: center;
    vertical-align: bottom;
}

nav{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-weight: 800;
    position: fixed;
    z-index: 100;
    text-shadow: 2px 1px #4f4f4f;
    
}

nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav li{
    list-style-type: none;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 0;   
}

h3{
    margin: 0;
    font-size: 24px;

}

.btn-primary {
    background-color: white! important;
    border-color: white !important;
    box-shadow: 3px 2px #4f4f4f;
    color: #4f4f4f !important;
    padding: .425rem .825rem;

}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #f9c075 !important;
    border-color: #f9c075!important;
    
}

a:link{
    color: white;
    text-decoration: none;
    }

a:visited{
    color: white;
    text-decoration: none;   
    }

.nav-link:hover{
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.container-fluid{
    padding-top: 40px;
    height: 100vh;
    position: relative;
}

.continue-btn{
    position: absolute;
    bottom: 0;
    align-content: center;
    height: 8%;
    margin: 0;
}

.ingred:hover{
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);  
}

.align-bottom{
    padding-top: 60%;
}

.scroll-button{
    position: relative;
    padding-top: 5%;
}


#home{
    background-image: url("assets/kombucha-05.svg");
    background-size: cover;
}

#what-you-need, #brew, #ferment, #bottle{
    height: 100vh;
    background-image: url("assets/stuccotexture.png");
    background-size: repeat;   
}