@font-face{
    font-family: "Shaky";
    src: url("assets/fonts/Shaky Hand Some Comic.otf") format("opentype");
}

@font-face{
    font-family: "Source Sans";
    src: url("assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face{
    font-family: "Westfalia";
    src: url("assets/fonts/Westfalia-Regular.otf") format("opentype");
}

@font-face{
    font-family: "Odachi";
    src: url("assets/fonts/Odachi.otf") format("opentype");
}

html{
    scroll-behavior: smooth;
}

.brew-buttons{
    margin-top: 2%;
}

.title{
    margin-top: 2%;
}
body{
    font-family: "Shaky", sans-serif;
    letter-spacing: 2px;
    background: linear-gradient(40deg, antiquewhite, #f8d7a5);
}

h1{
    font-size: 5rem;
    text-align: center;
    font-family: "shaky", sans-serif;
    font-weight: 1000;
    text-shadow: 2px 3px #4f4f4f;
    color: white;
}

h2{
    color: #4f4f4f;
}

h3{
    font-family: "Source Sans";
    font-size: 1.3rem;
    color: #4f4f4f;
}
.fixed-bottom{
    text-align: center;
    vertical-align: bottom;
}

nav{
    font-size: 1.3em;

}

.nav-link, .nav-item{
    padding-right: 1%;
    white-space: nowrap;
}


.btn-primary {
    background-color: white! important;
    border-color: white !important;
    box-shadow: 3px 2px #4f4f4f;
    color: #4f4f4f !important;
    padding: .425rem .825rem;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #f9c075 !important;
    border-color: #f9c075!important;   
}

.bottle{
    margin-top: 20%;
}

a:link{
    color: white;
    text-decoration: none;
    }

a:visited{
    color: white;
    text-decoration: none;   
    }

.nav-link:hover{
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.container-fluid{
    padding-top: 40px;
    height: 100vh;
    position: relative;
}

.continue-btn{
    position: absolute;
    bottom: 0;
    align-content: center;
    height: 8%;
    margin: 0;
}

.ingred:hover{
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);  
}

.fixed-bottom{
    position: absolute;
}


.start-button{
    position: relative;
    padding-top: 3%;
}

.scroll-up{
    color: #4f4f4f;
}


.closed-jar1{
    position: absolute;
}

/*

.tea, .sugar, .thermometer, .glass, .scoby, .cover, .time, .cover2{
    position: absolute;
    z-index: 2;
}
*/

.fixed-row-bottom { 
    position: sticky; 
    bottom: 0;
}

.bottle{
    position: absolute;
}

#home{
    background-image: url("assets/kombucha-05.svg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;
    height: 100vh; 
    width: 100%;
}

#what-you-need, #brew, #ferment, #bottle{
    height: 100vh;
    background-image: url("assets/stuccotexture.png");
    background-size: contain; 
}


/* Extra small devices (portrait phones, less than 576px)*/
@media screen and (min-width: 0px) and (max-width: 575.98px) {
    h1{
        font-size: 3rem;  
    }
    h2{
        font-size: 1.3rem;
    }
    
    h3{
        font-size: 0.8rem;
    }
    header{
        // padding-top: 10%;
    }
    .title{
        padding-top: 3%;
    }
    .ingred{
        padding-top: 50%;
    }


    .brew-buttons{
        margin-top: 7%;
    }
    .pot, .tea, .sugar, .thermometer{
        padding-top: 30%;
    }
/*
    .jar{
        padding-top: 20%;
    }
*/
}

/* Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 576px) and (max-width: 767.98px) {
    h1{
        font-size: 4.7rem;  
    }
    h2{
        font-size: 1.7rem;  
    }
    
    h3{
        font-size: 1.2rem;
    }

    .title{
        padding-top: 1%;
    }

/*
    .ferment-images{
        margin-top: 20%;
    }
*/
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    h1{
        font-size: 5.3rem;  
    }
    h2 {
        font-size: 1.8rem;
    }
    
    h3{
        font-size: 1.2rem;
    }

    .title{
        padding-top: 4%;
    }

    .brew-buttons{
        margin-top: 7%;
    }
    .brew-images{
        margin-top: 15%;
    }
/*
    .ferment-images{
        margin-top: 20%;
    }
*/
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    h1{
        font-size: 6rem;  
    }
    h2{
        font-size: 2.2rem;
    }
    h3{
        font-size: 1.3rem;
    }

    .title{
        padding-top: 2%;
    }
    .brew-buttons{
        margin-top: 7%;
    }
    .brew-images{
        margin-top: 20%;
    }
/*
    .ferment-images{
        margin-top: 30%;
    }
*/
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}


.flexed-content-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: calc(100vh - 48px);
}

.flex-row{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
/*    height: calc(100vh - 48px);*/
}

.step-container{
    padding: 1%;
/*
    border-color: white;
    border-width: medium;
    border-style: solid;
    border-radius: 10px;
*/
}

